// LOADING DOTS
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: ' ';
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.dots-loading::after {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}