// RESET
@import 'normalize';

// CONFIG
@import 'config';

// COMPONENTS
@import 'header';
@import 'footer';
@import 'home';
@import 'welcome';
@import 'floating-alerts';
@import 'loading-dots';
@import 'project-panel';
@import 'project-list-item';
@import 'task-inline-form';
@import 'task';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GENERAL STYLES
.quiet-input {
  border: none;

  &::placeholder {
    color: rgb(147, 147, 147);
  }

  &:focus {
    border-bottom: 1px solid rgb(187, 187, 187);
  }
}

.quiet-input-no-focus {
  border: none;

  &::placeholder {
    color: rgb(147, 147, 147);
  }
}

.centered-in-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
