.navbar-brand {
  font-size: 3rem;
  font-weight: 600;
}

.header-logged-out {
  display: flex;
  align-items: center;

  form {
    display: flex;
  }
}

.header-logged-in {
  display: flex;
  align-items: center;
}

.project-list {
  &--item {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      .project-list--item-delete {
        visibility: visible;
      }
    }
  }

  &--item-name {
    cursor: pointer;
  }

  &--item-delete {
    cursor: pointer;
    visibility: hidden;
  }
}

.project-panel {
  height: 500px;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.06);

  &--no-project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &--project {
    padding: 40px 30px 30px 45px;
  }

  &--tasks {
    margin-bottom: 15px;
  }
}

.task-inline-form {
  &--select {
    height: 2.5rem;
    border: none;
    font-size: 1rem;
    color: rgb(147, 147, 147);

    &:focus {
      outline: none;
    }
  }

  &--button {
    display: flex;
    align-items: center;
  }
}

.task {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &--value {
    margin-right: auto;
  }

  &--edit {
    cursor: pointer;

    &:hover {
      color: hsl(204, 86%, 53%);
    }
  }

  &--delete {
    cursor: pointer;

    &:hover {
      color: hsl(348, 100%, 61%);
    }
  }

  &--inline-form-highlight {
    border: 1px solid hsl(171, 100%, 41%);
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
  }
}

// FLOATING ALERTS
.floating-alert {
  font-weight: bold;
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transform: translateX(-50%);
  animation: floatingAlert ease-in 5s forwards;

  &:last-of-type {
    display: block;
  }
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

// LOADING DOTS
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: ' ';
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.dots-loading::after {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

// GENERAL STYLES
.quiet-input {
  border: none;

  &::placeholder {
    color: rgb(147, 147, 147);
  }

  &:focus {
    border-bottom: 1px solid rgb(187, 187, 187);
  }
}

.quiet-input-no-focus {
  border: none;

  &::placeholder {
    color: rgb(147, 147, 147);
  }
}

.centered-in-container {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
