* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 600;
}

.header-logged-out {
  display: flex;
  align-items: center;

  form {
    display: flex;
  }
}

.header-logged-in {
  display: flex;
  align-items: center;
}

.welcome {
  &--main-container {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    margin-top: 100px;
    width: 100%;
  }

  &--sub-container {
    display: flex;
    flex-grow: 1;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 50px;

    &:nth-of-type(2) {
      align-items: center;
    }

    form {
      width: 100%;
      max-width: 600px;
      min-width: 500px;
      padding: 0 50px;
    }
  }

  &--title {
    font-size: 4rem;
    font-weight: 600;
  }

  &--subtitle {
    font-size: 1.25rem;
  }

  &--bold-button-text {
    margin-right: 6px;
  }
}

.home {
  margin-top: 100px;

  &--project-list-container {
    display: flex;
    width: 100%;
  }

  &--project-list-column {
    width: 25%;
  }

  &--project-panel-column {
    width: 75%;
  }
}

.project-list {
  &--item {
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s ease-in;

    &:hover {
      .project-list--item-delete {
        visibility: visible;
      }
    }
    .icon {
      transition: all 0.1s ease-in;
    }

    .icon:hover + .project-list--item-name {
      color: hsl(348, 100%, 61%);
    }
  }

  &--item-name {
    cursor: pointer;
  }

  &--item-delete {
    cursor: pointer;
    visibility: hidden;
  }
}

.project-panel {
  height: 500px;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.06);

  &--no-project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &--project {
    padding: 40px 30px 30px 45px;
  }

  &--project-title-container {
    margin-bottom: 25px;
    display: flex;

    .icon {
      margin-top: 10px;
      transition: all 0.1s ease-in;

      &:hover {
        color: hsl(204, 86%, 53%);
      }
    }
  }

  &--project-title {
    margin-bottom: 0 !important;

    &-edit-input {
      padding: 0;
      margin: 0;
      height: 2.25rem;
      width: 500px; // FIND A RESPONSIVE WAY TO DO THIS!
    }
  }

  &--tasks {
    margin-bottom: 15px;
  }

  &--project-form-highlight {
    border: 1px solid hsl(171, 100%, 41%);
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -6px;
    left: -16px;
    width: 70%;

    &-undo {
      transition: all 0.1s ease-in;
    }

    &-undo:hover {
      color: hsl(348, 100%, 61%);
    }
  }
}

.task-inline-form {
  width: 100%;

  &--select {
    height: 2.5rem;
    border: none;
    font-size: 1rem;
    color: rgb(147, 147, 147);

    &:focus {
      outline: none;
    }
  }

  &--button {
    display: flex;
    align-items: center;
  }
}

.task {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &--value {
    margin-right: auto;
  }

  &--edit {
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      color: hsl(204, 86%, 53%);
    }
  }

  &--delete {
    cursor: pointer;
    height: inherit;
    padding-top: 3px;
    transition: all 0.1s ease-in;

    &:hover {
      color: hsl(348, 100%, 61%);
    }
  }

  &--inline-form-highlight {
    border: 1px solid hsl(171, 100%, 41%);
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    &-undo {
      position: relative;
      transition: all 0.1s ease-in;

      &:hover {
        color: hsl(348, 100%, 61%);
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// FLOATING ALERTS
.floating-alert {
  font-weight: bold;
  display: none;
  position: absolute;
  z-index: 999;
  top: 55px;
  left: 50%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
  transform: translateX(-50%);
  animation: floatingAlert ease-in 5s forwards;

  &:last-of-type {
    display: block;
  }
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

// LOADING DOTS
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: ' ';
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.dots-loading::after {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

// GENERAL STYLES
.quiet-input {
  border: none;

  &::placeholder {
    color: rgb(147, 147, 147);
  }

  &:focus {
    border-bottom: 1px solid rgb(187, 187, 187);
  }
}

.quiet-input-no-focus {
  border: none;

  &::placeholder {
    color: rgb(147, 147, 147);
  }
}

.centered-in-container {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./images/down-arrow.png') !important;
  background-repeat: no-repeat, repeat !important;
  background-position: right 0.7em top 50%, 0 0 !important;
  background-size: 0.65em auto, 100% !important;
  border: none;
  border-radius: 0px;
  padding: 0em 1em 0em 0.35em;
}

// MEDIA QUERIES
@media screen and (max-width: 1216px) {
  .welcome {
    &--sub-container {
      width: 100%;
      align-items: center;

      &:nth-of-type(2) {
        margin-top: 60px;
      }
    }

    &--title {
      text-align: center;
      font-size: 4rem;
    }

    &--subtitle {
      max-width: 400px;
      text-align: center;
      font-size: 1rem;
    }
  }

  .home {
    margin-top: 50px;

    &--project-list-container {
      display: flex;
      flex-direction: column;
    }

    &--project-list-column {
      width: 100%;
    }

    &--project-panel-column {
      width: 100%;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {

  &--project-list-container {
  }

  &--project-list-column {
    padding: 0 30px;
  }

  &--project-panel-column {
    padding: 0 30px;
  }
}
}

@media screen and (max-width: 768px) {
  .welcome {
    &--title {
      font-size: 3rem;
    }
  }
}
