.navbar-brand {
  font-size: 3rem;
  font-weight: 600;
}

.header-logged-out {
  display: flex;
  align-items: center;

  form {
    display: flex;
  }
}

.header-logged-in {
  display: flex;
  align-items: center;
}

.home {
  &--project-list {
    &-item {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        .home--project-list-item-delete {
          display: block;
        }
      }
    }

    &-item-name {
      cursor: pointer;
    }

    &-item-delete {
      cursor: pointer;
      display: none;
    }

    &-input {
      border: none;
    }
  }
}

.floating-alert {
  font-weight: bold;
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  box-shadow: 0px 5px 26px 0px rgba(194, 194, 194, 1);
  transform: translateX(-50%);
  animation: floatingAlert ease-in 5s forwards;

  &:last-of-type {
    display: block;
  }
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
